.bg-hero {
	height: 100vh;
	position: relative;
	overflow-x: hidden;
}

.bg-hero:before,
.bg-hero:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.bg-hero:after {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-hero:before {
	background: url(../../images/image/Home-bg.jpg) no-repeat center center / cover;
}

.bg-hero-cta h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 1.4;
}

@media (min-width: 768px) {
	.bg-hero-images {
		margin-right: -180px;
	}
	.bg-hero-cta h1 {
		font-size: 97.6842px;
		line-height: 117px;
	}
}

.bg-hero-cta p {
	margin-bottom: 40px;
}

.bg-hero-cta {
	color: #fff;
}

.bg-hero-img {
	position: relative;
}

.bg-hero-img h3 {
	font-size: 36px;
	line-height: 43px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 20px;
}

.bg-booking-form {
	background: #ffffff;
	border-radius: 5px;
	padding: 25px;
}

.bg-booking-form .form-control {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	background: #f2f2f2;
	border-radius: 5px;
	border: none;
	height: 60px;
}

.bg-booking-form .btn.bg-primary {
	height: 60px;
	margin-top: 30px;
}

.bg-hero-images a {
	display: block;
	transition: 0.2s;
	border-radius: 14px;
}

.bg-hero-images img {
	box-shadow: 0px 20px 50px rgb(0 0 0 / 50%);
	border-radius: 10px;
	transition: 0.2s;
}

.bg-hero-images a:hover,
.bg-hero-images a:focus {
	box-shadow: 0 0 0 4px #fbbc04;
}

.bg-hero-images a:hover img,
.bg-hero-images a:focus img {
	box-shadow: 0px 20px 50px rgba(58, 57, 13, 0.5);
}

.bg-destination .section-top h3 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

.section-top h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #2b2b2b;
}

.hotel-card .info h4 {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #000;
	margin-bottom: 1em;
}

.hotel-card .info p:not(.ratings) {
	font-size: 16px;
	line-height: 20px;
	color: #6a6a6a;
	margin-bottom: 10px;
}

.hotel-card .info .ratings {
	margin-bottom: 0;
}

.hotel-card .info .ratings > * {
	margin-right: 24px;
}
